body{
  margin: 0;
 
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);

    min-height: 100vh;
  }
.page{
  width: 1000px;
  margin: 0 auto 0;
  padding-top: 65px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}
ul li a{
  text-decoration: none;
  color: #1f1534;
}
ul{
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;

}
ul li a:hover{
  font-weight: bold;
}


h1,ul{
  font-family: "Mulish", sans-serif;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

h1{
  font-size: 49px;
  line-height: 56px;
  color:#1f1534;
  font-weight: normal;
  width: 490px;
}

h1 span{
  color: #89C5CC;
  font-family: "Mulish";
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
section p{
  color: #7D7987;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;

  margin: 40px 0;
}

button{
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
  background: #69B99D;
  border: none;
  padding: 14px 32px 15px 32px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  border-radius: 4px;
  cursor: pointer;
}

button:hover{
  background: #055a3c;

}

footer{
  font-size: 14px;
  line-height: 28px;
  color: #1f1534;

  text-align: center;
  margin-top: 80px;

}

footer a{
  font-weight: bold;
  color: black;
}

#balls{
  position: fixed;
  bottom: 0;
  right: 0;
}